// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LoonFS from "../../../index.js";

export declare namespace InodesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Identity-oriented inode read APIs
 */
export class InodesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InodesClient.Options>;

    constructor(options: InodesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the current path entry for a visible inode. Unknown or hidden inodes answer `inode_not_found`.
     *
     * @param {LoonFS.GetInodeRequest} request
     * @param {InodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.inodes.retrieve({
     *         namespace_id: "namespace_id",
     *         inode_id: "ino_123"
     *     })
     */
    public retrieve(
        request: LoonFS.GetInodeRequest,
        requestOptions?: InodesClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.PathEntry> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: LoonFS.GetInodeRequest,
        requestOptions?: InodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.PathEntry>> {
        const { namespace_id: namespaceId, inode_id: inodeId, include_attributes: includeAttributes } = request;
        const _queryParams: Record<string, unknown> = {
            include_attributes: includeAttributes,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespaces/${core.url.encodePathParam(namespaceId)}/inodes/${core.url.encodePathParam(inodeId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.PathEntry, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 503:
                    throw new LoonFS.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/namespaces/{namespace_id}/inodes/{inode_id}",
        );
    }

    /**
     * Lists one page of a directory's children addressed by parent inode ID, in canonical name-key order. Inode addressing keeps a listing and its resumption on the same directory across concurrent renames or moves of the parent.
     *
     * @param {LoonFS.ListInodeChildrenRequest} request
     * @param {InodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.ConflictError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.inodes.listChildren({
     *         namespace_id: "namespace_id",
     *         inode_id: "ino_123"
     *     })
     */
    public async listChildren(
        request: LoonFS.ListInodeChildrenRequest,
        requestOptions?: InodesClient.RequestOptions,
    ): Promise<core.Page<LoonFS.PathEntry, LoonFS.ListInodeChildrenResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: LoonFS.ListInodeChildrenRequest,
            ): Promise<core.WithRawResponse<LoonFS.ListInodeChildrenResponse>> => {
                const {
                    namespace_id: namespaceId,
                    inode_id: inodeId,
                    limit,
                    cursor,
                    include_attributes: includeAttributes,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    limit,
                    cursor,
                    include_attributes: includeAttributes,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        `v0/namespaces/${core.url.encodePathParam(namespaceId)}/inodes/${core.url.encodePathParam(inodeId)}/children`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as LoonFS.ListInodeChildrenResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new LoonFS.BadRequestError(
                                _response.error.body as LoonFS.ApiError,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new LoonFS.UnauthorizedError(
                                _response.error.body as LoonFS.ApiError,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new LoonFS.NotFoundError(
                                _response.error.body as LoonFS.ApiError,
                                _response.rawResponse,
                            );
                        case 409:
                            throw new LoonFS.ConflictError(
                                _response.error.body as LoonFS.ApiError,
                                _response.rawResponse,
                            );
                        case 410:
                            throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                        case 503:
                            throw new LoonFS.ServiceUnavailableError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.LoonFSError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v0/namespaces/{namespace_id}/inodes/{inode_id}/children",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<LoonFS.PathEntry, LoonFS.ListInodeChildrenResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.entries ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }

    /**
     * Returns retained revisions for a file inode without requiring a current path.
     *
     * @param {LoonFS.ListFileRevisionsByInodeRequest} request
     * @param {InodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.ConflictError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.inodes.listRevisions({
     *         namespace_id: "namespace_id",
     *         inode_id: "ino_123"
     *     })
     */
    public async listRevisions(
        request: LoonFS.ListFileRevisionsByInodeRequest,
        requestOptions?: InodesClient.RequestOptions,
    ): Promise<core.Page<LoonFS.FileRevision, LoonFS.ListFileRevisionsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: LoonFS.ListFileRevisionsByInodeRequest,
            ): Promise<core.WithRawResponse<LoonFS.ListFileRevisionsResponse>> => {
                const { namespace_id: namespaceId, inode_id: inodeId, limit, cursor } = request;
                const _queryParams: Record<string, unknown> = {
                    limit,
                    cursor,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        `v0/namespaces/${core.url.encodePathParam(namespaceId)}/inodes/${core.url.encodePathParam(inodeId)}/revisions`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as LoonFS.ListFileRevisionsResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new LoonFS.BadRequestError(
                                _response.error.body as LoonFS.ApiError,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new LoonFS.UnauthorizedError(
                                _response.error.body as LoonFS.ApiError,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new LoonFS.NotFoundError(
                                _response.error.body as LoonFS.ApiError,
                                _response.rawResponse,
                            );
                        case 409:
                            throw new LoonFS.ConflictError(
                                _response.error.body as LoonFS.ApiError,
                                _response.rawResponse,
                            );
                        case 410:
                            throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                        case 503:
                            throw new LoonFS.ServiceUnavailableError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.LoonFSError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v0/namespaces/{namespace_id}/inodes/{inode_id}/revisions",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<LoonFS.FileRevision, LoonFS.ListFileRevisionsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.revisions ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }

    /**
     * Reads and verifies one retained file revision by inode ID and revision number.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.ConflictError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ContentTooLargeError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     */
    public content(
        request: LoonFS.GetFileRevisionBytesByInodeRequest,
        requestOptions?: InodesClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__content(request, requestOptions));
    }

    private async __content(
        request: LoonFS.GetFileRevisionBytesByInodeRequest,
        requestOptions?: InodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { namespace_id: namespaceId, inode_id: inodeId, revision_no: revisionNo } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespaces/${core.url.encodePathParam(namespaceId)}/inodes/${core.url.encodePathParam(inodeId)}/revisions/${core.url.encodePathParam(revisionNo)}/content`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 409:
                    throw new LoonFS.ConflictError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 413:
                    throw new LoonFS.ContentTooLargeError(
                        _response.error.body as LoonFS.ApiError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new LoonFS.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/namespaces/{namespace_id}/inodes/{inode_id}/revisions/{revision_no}/content",
        );
    }

    /**
     * Authorizes a direct read of one retained inode revision. The request body is `{}` and the response does not include a path.
     *
     * @param {LoonFS.CreateDownloadByInodeRequest} request
     * @param {InodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.ConflictError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.NotImplementedError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.inodes.createDownload({
     *         namespace_id: "namespace_id",
     *         inode_id: "ino_123",
     *         revision_no: 1000000,
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public createDownload(
        request: LoonFS.CreateDownloadByInodeRequest,
        requestOptions?: InodesClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.BeginDownloadByInodeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createDownload(request, requestOptions));
    }

    private async __createDownload(
        request: LoonFS.CreateDownloadByInodeRequest,
        requestOptions?: InodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.BeginDownloadByInodeResponse>> {
        const { namespace_id: namespaceId, inode_id: inodeId, revision_no: revisionNo, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespaces/${core.url.encodePathParam(namespaceId)}/inodes/${core.url.encodePathParam(inodeId)}/revisions/${core.url.encodePathParam(revisionNo)}/downloads`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.BeginDownloadByInodeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 409:
                    throw new LoonFS.ConflictError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 501:
                    throw new LoonFS.NotImplementedError(
                        _response.error.body as LoonFS.ApiError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new LoonFS.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v0/namespaces/{namespace_id}/inodes/{inode_id}/revisions/{revision_no}/downloads",
        );
    }
}
