// This file was auto-generated by Fern from our API Definition.

import type * as LoonFS from "../../../../index.js";

/**
 * @example
 *     {
 *         namespace_id: "namespace_id",
 *         actor: {
 *             id: "usr_8f3c",
 *             kind: "user"
 *         },
 *         commit_id: "c_f3a9c2d4b6e8417a90c5d2f8e1b7a6c0",
 *         operations: [{
 *                 kind: "create_directory",
 *                 path: "/docs/report.txt"
 *             }]
 *     }
 */
export interface CommitRequest {
    /** Namespace id */
    namespace_id: string;
    /** Actor responsible for the commit, as supplied by the application. */
    actor: LoonFS.ActorRef;
    /** Caller-supplied idempotency key for the whole request. */
    commit_id: LoonFS.CommitId;
    /**
     * Proofs for any new external content refs introduced by this request.
     * One proof covers every operation that names its content ref.
     */
    content_tokens?: LoonFS.ContentToken[];
    /**
     * Caller annotation recorded on the commit and reported by the change
     * feed. Part of the commit's identity: reusing `commit_id` with a
     * different message is a `commit_id_reuse_conflict`, exactly as it is
     * for an explicit commit.
     */
    message?: string | null;
    /**
     * Ordered operations to apply. Must be non-empty; they commit all
     * together or not at all.
     */
    operations: LoonFS.FilesystemOperation[];
}
