// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LoonFS from "../../../index.js";

export declare namespace NamespacesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Namespace lifecycle and status
 */
export class NamespacesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<NamespacesClient.Options>;

    constructor(options: NamespacesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a new empty namespace.
     *
     * @param {LoonFS.CreateNamespaceRequest} request
     * @param {NamespacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.ConflictError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.namespaces.create({
     *         namespace_id: "demo"
     *     })
     */
    public create(
        request: LoonFS.CreateNamespaceRequest,
        requestOptions?: NamespacesClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.Namespace> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: LoonFS.CreateNamespaceRequest,
        requestOptions?: NamespacesClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.Namespace>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v0/namespaces",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.Namespace, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new LoonFS.UnauthorizedError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new LoonFS.ConflictError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 503:
                    throw new LoonFS.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v0/namespaces");
    }

    /**
     * Returns the current head and retention state for a namespace.
     *
     * @param {LoonFS.GetNamespaceRequest} request
     * @param {NamespacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.namespaces.retrieve({
     *         namespace_id: "namespace_id"
     *     })
     */
    public retrieve(
        request: LoonFS.GetNamespaceRequest,
        requestOptions?: NamespacesClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.Namespace> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: LoonFS.GetNamespaceRequest,
        requestOptions?: NamespacesClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.Namespace>> {
        const { namespace_id: namespaceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespaces/${core.url.encodePathParam(namespaceId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.Namespace, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new LoonFS.UnauthorizedError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 503:
                    throw new LoonFS.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v0/namespaces/{namespace_id}");
    }

    /**
     * Marks a namespace as deleted.
     *
     * @param {LoonFS.DeleteNamespaceRequest} request
     * @param {NamespacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.ConflictError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.namespaces.delete({
     *         namespace_id: "namespace_id"
     *     })
     */
    public delete(
        request: LoonFS.DeleteNamespaceRequest,
        requestOptions?: NamespacesClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.DeleteNamespaceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: LoonFS.DeleteNamespaceRequest,
        requestOptions?: NamespacesClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.DeleteNamespaceResponse>> {
        const { namespace_id: namespaceId, expected_head_seq: expectedHeadSeq } = request;
        const _queryParams: Record<string, unknown> = {
            expected_head_seq: expectedHeadSeq,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespaces/${core.url.encodePathParam(namespaceId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.DeleteNamespaceResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new LoonFS.UnauthorizedError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new LoonFS.ConflictError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 503:
                    throw new LoonFS.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v0/namespaces/{namespace_id}",
        );
    }

    /**
     * Creates a new namespace as a fork from the source namespace's current durable view.
     *
     * @param {LoonFS.ForkNamespaceRequest} request
     * @param {NamespacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.ConflictError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.namespaces.fork({
     *         namespace_id: "namespace_id",
     *         new_namespace_id: "demo"
     *     })
     */
    public fork(
        request: LoonFS.ForkNamespaceRequest,
        requestOptions?: NamespacesClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.Namespace> {
        return core.HttpResponsePromise.fromPromise(this.__fork(request, requestOptions));
    }

    private async __fork(
        request: LoonFS.ForkNamespaceRequest,
        requestOptions?: NamespacesClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.Namespace>> {
        const { namespace_id: namespaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespaces/${core.url.encodePathParam(namespaceId)}/forks`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.Namespace, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new LoonFS.UnauthorizedError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new LoonFS.ConflictError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 503:
                    throw new LoonFS.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v0/namespaces/{namespace_id}/forks",
        );
    }
}
