// This file was auto-generated by Fern from our API Definition.

import * as LoonFS from "./api/index.js";
import { FilesystemClient } from "./api/resources/filesystem/client/Client.js";
import { QueryClient } from "./api/resources/query/client/Client.js";
import { UploadsClient } from "./api/resources/uploads/client/Client.js";
import type { BaseClientOptions, BaseRequestOptions } from "./BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "./BaseClient.js";
import { mergeHeaders } from "./core/headers.js";
import * as core from "./core/index.js";
import { handleNonStatusCodeError } from "./errors/handleNonStatusCodeError.js";
import * as errors from "./errors/index.js";

export declare namespace LoonFSClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LoonFSClient {
    protected readonly _options: NormalizedClientOptions<LoonFSClient.Options>;
    protected _filesystem: FilesystemClient | undefined;
    protected _query: QueryClient | undefined;
    protected _uploads: UploadsClient | undefined;

    constructor(options: LoonFSClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    public get filesystem(): FilesystemClient {
        return (this._filesystem ??= new FilesystemClient(this._options));
    }

    public get query(): QueryClient {
        return (this._query ??= new QueryClient(this._options));
    }

    public get uploads(): UploadsClient {
        return (this._uploads ??= new UploadsClient(this._options));
    }

    /**
     * Returns a summary of supported features and limits.
     *
     * @param {LoonFSClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.RequestTimeoutError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.capabilities()
     */
    public capabilities(
        requestOptions?: LoonFSClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.CapabilityDocument> {
        return core.HttpResponsePromise.fromPromise(this.__capabilities(requestOptions));
    }

    private async __capabilities(
        requestOptions?: LoonFSClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.CapabilityDocument>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v0/capabilities",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.CapabilityDocument, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 408:
                    throw new LoonFS.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v0/capabilities");
    }

    /**
     * Make a passthrough request using the SDK's configured auth, retry, logging, etc.
     * This is useful for making requests to endpoints not yet supported in the SDK.
     * The input can be a URL string, URL object, or Request object. Relative paths are resolved against the configured base URL.
     *
     * @param {Request | string | URL} input - The URL, path, or Request object.
     * @param {RequestInit} init - Standard fetch RequestInit options.
     * @param {core.PassthroughRequest.RequestOptions} requestOptions - Per-request overrides (timeout, retries, headers, abort signal).
     * @returns {Promise<Response>} A standard Response object.
     */
    public async fetch(
        input: Request | string | URL,
        init?: RequestInit,
        requestOptions?: core.PassthroughRequest.RequestOptions,
    ): Promise<Response> {
        return core.makePassthroughRequest(
            input,
            init,
            {
                baseUrl: this._options.baseUrl ?? this._options.environment,
                headers: this._options.headers,
                timeoutInSeconds: this._options.timeoutInSeconds,
                maxRetries: this._options.maxRetries,
                fetch: this._options.fetch,
                logging: this._options.logging,
            },
            requestOptions,
        );
    }
}
