// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as LoonFS from "../../../../../index.js";

export declare namespace StoreClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class StoreClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<StoreClient.Options>;

    constructor(options: StoreClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Proves the configured object store honours the create-if-absent, compare-and-swap, visibility, listing, and ranged-read semantics LoonFS depends on, and reports what it found check by check. Nothing runs this implicitly: a probe writes and deletes objects, all of them under a scratch prefix that is not a durable object family, and its last check deletes them and proves the prefix empty. A store that fails a check answers 200 with that check reported `failed` — the probe ran, and the answer is that the store is wrong. Optional capabilities a store declares it lacks answer `unsupported`, which is an answer rather than a fault. This route does not decide whether the deployment may serve presigned direct uploads: that trust comes from the endpoint allowlist, because a probe exercises the server's own request path and never a presigned capability handed to a client.
     *
     * @param {LoonFS.StoreProbeRequest} request
     * @param {StoreClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.admin.store.probe({
     *         "key": "value"
     *     })
     */
    public probe(
        request: LoonFS.StoreProbeRequest,
        requestOptions?: StoreClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.StoreProbeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__probe(request, requestOptions));
    }

    private async __probe(
        request: LoonFS.StoreProbeRequest,
        requestOptions?: StoreClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.StoreProbeResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v0/admin/store/probe",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.StoreProbeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 503:
                    throw new LoonFS.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v0/admin/store/probe");
    }
}
