// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LoonFS from "../../../index.js";

export declare namespace FilesystemClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Path-oriented filesystem APIs
 */
export class FilesystemClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FilesystemClient.Options>;

    constructor(options: FilesystemClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns committed changes from the write-ahead log. Callers can use this feed to keep another projection synchronized with WAL history.
     *
     * @param {LoonFS.ListChangesRequest} request
     * @param {FilesystemClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.RequestTimeoutError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.filesystem.listChanges({
     *         namespace_id: "namespace_id",
     *         after_seq: 1000000
     *     })
     */
    public listChanges(
        request: LoonFS.ListChangesRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.ChangesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listChanges(request, requestOptions));
    }

    private async __listChanges(
        request: LoonFS.ListChangesRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.ChangesResponse>> {
        const { namespace_id: namespaceId, after_seq: afterSeq, limit } = request;
        const _queryParams: Record<string, unknown> = {
            after_seq: afterSeq,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespaces/${core.url.encodePathParam(namespaceId)}/changes`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.ChangesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 408:
                    throw new LoonFS.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/namespaces/{namespace_id}/changes",
        );
    }

    /**
     * Applies one commit: an ordered, non-empty list of path operations that commit together as one logical commit, under one commit id that makes retries idempotent. A single-operation call is the one-element case. The first operation that fails aborts the whole request, and a request carrying more than one operation names that operation's position in `details.operation_index`.
     *
     * @param {LoonFS.CommitRequest} request
     * @param {FilesystemClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.RequestTimeoutError}
     * @throws {@link LoonFS.ConflictError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.filesystem.applyCommit({
     *         namespace_id: "namespace_id",
     *         actor: {
     *             id: "usr_8f3c",
     *             kind: "user"
     *         },
     *         commit_id: "c_f3a9c2d4b6e8417a90c5d2f8e1b7a6c0",
     *         operations: [{
     *                 kind: "create_directory",
     *                 path: "/docs/report.txt"
     *             }]
     *     })
     */
    public applyCommit(
        request: LoonFS.CommitRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.CommitResponse> {
        return core.HttpResponsePromise.fromPromise(this.__applyCommit(request, requestOptions));
    }

    private async __applyCommit(
        request: LoonFS.CommitRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.CommitResponse>> {
        const { namespace_id: namespaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespaces/${core.url.encodePathParam(namespaceId)}/commits`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.CommitResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 408:
                    throw new LoonFS.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new LoonFS.ConflictError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 503:
                    throw new LoonFS.ServiceUnavailableError(
                        _response.error.body as LoonFS.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v0/namespaces/{namespace_id}/commits",
        );
    }

    /**
     * Returns file bytes for the current revision at a path, or for a specific retained revision when `revision_no` is provided.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ContentTooLargeError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     */
    public getFileBytes(
        request: LoonFS.GetFileBytesRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getFileBytes(request, requestOptions));
    }

    private async __getFileBytes(
        request: LoonFS.GetFileBytesRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { namespace_id: namespaceId, path, revision_no: revisionNo } = request;
        const _queryParams: Record<string, unknown> = {
            path,
            revision_no: revisionNo,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespaces/${core.url.encodePathParam(namespaceId)}/filesystem/content`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 413:
                    throw new LoonFS.ContentTooLargeError(
                        _response.error.body as LoonFS.ApiError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new LoonFS.ServiceUnavailableError(
                        _response.error.body as LoonFS.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/namespaces/{namespace_id}/filesystem/content",
        );
    }

    /**
     * Authorizes one direct read of a file's content object and returns a short-lived presigned GET capability, the resolved revision, and the content reference the client checks the arriving bytes against. `Range` is outside the signature, so one grant serves ranged, resumed, and parallel reads. Deployments that cannot presign answer 501 `not_supported`; the proxied `GET /filesystem/content` route stays available and is capped by `download.max_content_bytes`.
     *
     * @param {LoonFS.BeginDownloadRequest} request
     * @param {FilesystemClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.RequestTimeoutError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.NotImplementedError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.filesystem.beginDownload({
     *         namespace_id: "namespace_id",
     *         path: "/docs/report.txt"
     *     })
     */
    public beginDownload(
        request: LoonFS.BeginDownloadRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.BeginDownloadResponse> {
        return core.HttpResponsePromise.fromPromise(this.__beginDownload(request, requestOptions));
    }

    private async __beginDownload(
        request: LoonFS.BeginDownloadRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.BeginDownloadResponse>> {
        const { namespace_id: namespaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespaces/${core.url.encodePathParam(namespaceId)}/filesystem/downloads`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.BeginDownloadResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 408:
                    throw new LoonFS.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 501:
                    throw new LoonFS.NotImplementedError(
                        _response.error.body as LoonFS.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v0/namespaces/{namespace_id}/filesystem/downloads",
        );
    }

    /**
     * Lists a directory at the current namespace head.
     *
     * @param {LoonFS.ListPathEntriesRequest} request
     * @param {FilesystemClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.RequestTimeoutError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.filesystem.listPathEntries({
     *         namespace_id: "namespace_id",
     *         path: "path"
     *     })
     */
    public listPathEntries(
        request: LoonFS.ListPathEntriesRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.ListPathEntriesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listPathEntries(request, requestOptions));
    }

    private async __listPathEntries(
        request: LoonFS.ListPathEntriesRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.ListPathEntriesResponse>> {
        const { namespace_id: namespaceId, path, limit, cursor, include_attributes: includeAttributes } = request;
        const _queryParams: Record<string, unknown> = {
            path,
            limit,
            cursor,
            include_attributes: includeAttributes,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespaces/${core.url.encodePathParam(namespaceId)}/filesystem/list`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.ListPathEntriesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 408:
                    throw new LoonFS.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/namespaces/{namespace_id}/filesystem/list",
        );
    }

    /**
     * Resolves the current path to a file inode and returns revisions for that file. If the file could be renamed, use the inode revision API for stable identity.
     *
     * @param {LoonFS.ListFileRevisionsRequest} request
     * @param {FilesystemClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.RequestTimeoutError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.filesystem.listFileRevisions({
     *         namespace_id: "namespace_id",
     *         path: "path"
     *     })
     */
    public listFileRevisions(
        request: LoonFS.ListFileRevisionsRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.ListFileRevisionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listFileRevisions(request, requestOptions));
    }

    private async __listFileRevisions(
        request: LoonFS.ListFileRevisionsRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.ListFileRevisionsResponse>> {
        const { namespace_id: namespaceId, path, limit, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            path,
            limit,
            cursor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespaces/${core.url.encodePathParam(namespaceId)}/filesystem/revisions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.ListFileRevisionsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 408:
                    throw new LoonFS.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/namespaces/{namespace_id}/filesystem/revisions",
        );
    }

    /**
     * Returns the current metadata for a path, including inode identity, kind, display name, file content metadata, and the inode's attributes.
     *
     * @param {LoonFS.StatPathRequest} request
     * @param {FilesystemClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.RequestTimeoutError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.filesystem.statPath({
     *         namespace_id: "namespace_id",
     *         path: "path"
     *     })
     */
    public statPath(
        request: LoonFS.StatPathRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.AuthoritativePathEntry> {
        return core.HttpResponsePromise.fromPromise(this.__statPath(request, requestOptions));
    }

    private async __statPath(
        request: LoonFS.StatPathRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.AuthoritativePathEntry>> {
        const { namespace_id: namespaceId, path, include_attributes: includeAttributes } = request;
        const _queryParams: Record<string, unknown> = {
            path,
            include_attributes: includeAttributes,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespaces/${core.url.encodePathParam(namespaceId)}/filesystem/stat`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.AuthoritativePathEntry, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 408:
                    throw new LoonFS.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/namespaces/{namespace_id}/filesystem/stat",
        );
    }

    /**
     * Returns the namespace's recoverable deletions, oldest deletion first. Entries never age out at the retention floor; each carries the inode id and deletion sequence undelete needs, plus the deleted name when the delete recorded one.
     *
     * @param {LoonFS.ListTrashRequest} request
     * @param {FilesystemClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.RequestTimeoutError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.filesystem.listTrash({
     *         namespace_id: "namespace_id"
     *     })
     */
    public listTrash(
        request: LoonFS.ListTrashRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.ListTrashResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listTrash(request, requestOptions));
    }

    private async __listTrash(
        request: LoonFS.ListTrashRequest,
        requestOptions?: FilesystemClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.ListTrashResponse>> {
        const { namespace_id: namespaceId, limit, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            cursor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespaces/${core.url.encodePathParam(namespaceId)}/filesystem/trash`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.ListTrashResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 408:
                    throw new LoonFS.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/namespaces/{namespace_id}/filesystem/trash",
        );
    }
}
