// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as LoonFS from "../../../../../index.js";

export declare namespace MaintenanceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MaintenanceClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MaintenanceClient.Options>;

    constructor(options: MaintenanceClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Runs one bounded maintenance step. Include `metadata_maintenance`, `retention`, or `gc` to select actions. Each selector is an options object, and an empty object uses server defaults. Actions run in that order, and only selected actions appear in the response. At least one action is required. A deleted namespace accepts only `gc`. GC processes up to 1024 candidates by default and returns a cursor when more work remains. A lost root update race is reported as an outcome.
     *
     * @param {LoonFS.admin.MaintenanceStepRequest} request
     * @param {MaintenanceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.admin.maintenance.run({
     *         namespace_id: "namespace_id"
     *     })
     */
    public run(
        request: LoonFS.admin.MaintenanceStepRequest,
        requestOptions?: MaintenanceClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.MaintenanceStepResponse> {
        return core.HttpResponsePromise.fromPromise(this.__run(request, requestOptions));
    }

    private async __run(
        request: LoonFS.admin.MaintenanceStepRequest,
        requestOptions?: MaintenanceClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.MaintenanceStepResponse>> {
        const { namespace_id: namespaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/admin/namespaces/${core.url.encodePathParam(namespaceId)}/maintenance/run`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.MaintenanceStepResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 503:
                    throw new LoonFS.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v0/admin/namespaces/{namespace_id}/maintenance/run",
        );
    }
}
