// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LoonFS from "../../../index.js";

export declare namespace FilesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FilesClient {
    protected readonly _options: NormalizedClientOptions<FilesClient.Options>;

    constructor(options: FilesClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns the current file bytes, a retained revision, or the revision captured by a live snapshot.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ContentTooLargeError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     */
    public content(
        request: LoonFS.GetFileBytesRequest,
        requestOptions?: FilesClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__content(request, requestOptions));
    }

    private async __content(
        request: LoonFS.GetFileBytesRequest,
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { namespace_alias: namespaceAlias, path, revision_no: revisionNo, snapshot_id: snapshotId } = request;
        const _queryParams: Record<string, unknown> = {
            path,
            revision_no: revisionNo,
            snapshot_id: snapshotId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespace-aliases/${core.url.encodePathParam(namespaceAlias)}/filesystem/content`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new LoonFS.UnauthorizedError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 413:
                    throw new LoonFS.ContentTooLargeError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new LoonFS.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/namespace-aliases/{namespace_alias}/filesystem/content",
        );
    }

    /**
     * Authorizes one direct read of a file's content object and returns a short-lived presigned GET capability, the resolved revision, and the content reference the client checks the arriving bytes against. `Range` is outside the signature, so one grant serves ranged, resumed, and parallel reads. Deployments that cannot presign answer 501 `not_supported`; the proxied `GET /filesystem/content` route stays available and is capped by `download.max_content_bytes`.
     *
     * @param {LoonFS.BeginDownloadRequest} request
     * @param {FilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.NotImplementedError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.files.createDownload({
     *         namespace_alias: "namespace_alias",
     *         snapshot_id: "chk_00000000000000000000000000000002",
     *         path: "/docs/report.txt"
     *     })
     */
    public createDownload(
        request: LoonFS.BeginDownloadRequest,
        requestOptions?: FilesClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.BeginDownloadResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createDownload(request, requestOptions));
    }

    private async __createDownload(
        request: LoonFS.BeginDownloadRequest,
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.BeginDownloadResponse>> {
        const { namespace_alias: namespaceAlias, snapshot_id: snapshotId, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            snapshot_id: snapshotId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespace-aliases/${core.url.encodePathParam(namespaceAlias)}/filesystem/downloads`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.BeginDownloadResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new LoonFS.UnauthorizedError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 501:
                    throw new LoonFS.NotImplementedError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new LoonFS.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v0/namespace-aliases/{namespace_alias}/filesystem/downloads",
        );
    }

    /**
     * Lists a directory from the current state or a live snapshot.
     *
     * @param {LoonFS.ListPathEntriesRequest} request
     * @param {FilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.files.list({
     *         namespace_alias: "namespace_alias",
     *         path: "path",
     *         snapshot_id: "chk_00000000000000000000000000000002"
     *     })
     */
    public async list(
        request: LoonFS.ListPathEntriesRequest,
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.Page<LoonFS.PathEntry, LoonFS.ListPathEntriesResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: LoonFS.ListPathEntriesRequest,
            ): Promise<core.WithRawResponse<LoonFS.ListPathEntriesResponse>> => {
                const {
                    namespace_alias: namespaceAlias,
                    path,
                    limit,
                    cursor,
                    include_attributes: includeAttributes,
                    snapshot_id: snapshotId,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    path,
                    limit,
                    cursor,
                    include_attributes: includeAttributes,
                    snapshot_id: snapshotId,
                };
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        `v0/namespace-aliases/${core.url.encodePathParam(namespaceAlias)}/filesystem/entries`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as LoonFS.ListPathEntriesResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new LoonFS.BadRequestError(
                                _response.error.body as LoonFS.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new LoonFS.UnauthorizedError(
                                _response.error.body as LoonFS.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new LoonFS.NotFoundError(
                                _response.error.body as LoonFS.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 410:
                            throw new LoonFS.GoneError(
                                _response.error.body as LoonFS.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 503:
                            throw new LoonFS.ServiceUnavailableError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.LoonFSError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v0/namespace-aliases/{namespace_alias}/filesystem/entries",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<LoonFS.PathEntry, LoonFS.ListPathEntriesResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.entries ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }

    /**
     * Returns path metadata from the current state or a live snapshot.
     *
     * @param {LoonFS.GetPathEntryRequest} request
     * @param {FilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.files.retrieve({
     *         namespace_alias: "namespace_alias",
     *         path: "path",
     *         snapshot_id: "chk_00000000000000000000000000000002"
     *     })
     */
    public retrieve(
        request: LoonFS.GetPathEntryRequest,
        requestOptions?: FilesClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.PathEntry> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: LoonFS.GetPathEntryRequest,
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.PathEntry>> {
        const {
            namespace_alias: namespaceAlias,
            path,
            include_attributes: includeAttributes,
            snapshot_id: snapshotId,
        } = request;
        const _queryParams: Record<string, unknown> = {
            path,
            include_attributes: includeAttributes,
            snapshot_id: snapshotId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/namespace-aliases/${core.url.encodePathParam(namespaceAlias)}/filesystem/entry`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.PathEntry, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new LoonFS.UnauthorizedError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 503:
                    throw new LoonFS.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/namespace-aliases/{namespace_alias}/filesystem/entry",
        );
    }

    /**
     * Resolves the current path to a file inode and returns revisions for that file. If the file could be renamed, use the inode revision API for stable identity.
     *
     * @param {LoonFS.ListFileRevisionsRequest} request
     * @param {FilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.files.listRevisions({
     *         namespace_alias: "namespace_alias",
     *         path: "path"
     *     })
     */
    public async listRevisions(
        request: LoonFS.ListFileRevisionsRequest,
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.Page<LoonFS.FileRevision, LoonFS.ListFileRevisionsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: LoonFS.ListFileRevisionsRequest,
            ): Promise<core.WithRawResponse<LoonFS.ListFileRevisionsResponse>> => {
                const { namespace_alias: namespaceAlias, path, limit, cursor } = request;
                const _queryParams: Record<string, unknown> = {
                    path,
                    limit,
                    cursor,
                };
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        `v0/namespace-aliases/${core.url.encodePathParam(namespaceAlias)}/filesystem/revisions`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as LoonFS.ListFileRevisionsResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new LoonFS.BadRequestError(
                                _response.error.body as LoonFS.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new LoonFS.UnauthorizedError(
                                _response.error.body as LoonFS.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new LoonFS.NotFoundError(
                                _response.error.body as LoonFS.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 410:
                            throw new LoonFS.GoneError(
                                _response.error.body as LoonFS.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 503:
                            throw new LoonFS.ServiceUnavailableError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.LoonFSError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v0/namespace-aliases/{namespace_alias}/filesystem/revisions",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<LoonFS.FileRevision, LoonFS.ListFileRevisionsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.revisions ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }

    /**
     * Searches file content with a regular expression, accelerated by the namespace's grep index. Matches are verified against the real pattern and returned in ascending `(inode_id, byte_offset)` order; revisions committed after the index watermark are scanned exhaustively unless `allow_stale` skips them. Requires this deployment to serve grep and the namespace to carry a materialized active grep root.
     *
     * @param {LoonFS.GrepRequest} request
     * @param {FilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.InternalServerError}
     * @throws {@link LoonFS.NotImplementedError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.files.grep({
     *         namespace_alias: "namespace_alias",
     *         pattern: "pattern"
     *     })
     */
    public async grep(
        request: LoonFS.GrepRequest,
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.Page<LoonFS.GrepMatch, LoonFS.GrepResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (request: LoonFS.GrepRequest): Promise<core.WithRawResponse<LoonFS.GrepResponse>> => {
                const {
                    namespace_alias: namespaceAlias,
                    pattern,
                    case_insensitive: caseInsensitive,
                    path_prefix: pathPrefix,
                    allow_scan: allowScan,
                    allow_stale: allowStale,
                    limit,
                    cursor,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    pattern,
                    case_insensitive: caseInsensitive,
                    path_prefix: pathPrefix,
                    allow_scan: allowScan,
                    allow_stale: allowStale,
                    limit,
                    cursor,
                };
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        `v0/namespace-aliases/${core.url.encodePathParam(namespaceAlias)}/grep`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return { data: _response.body as LoonFS.GrepResponse, rawResponse: _response.rawResponse };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new LoonFS.BadRequestError(
                                _response.error.body as LoonFS.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new LoonFS.UnauthorizedError(
                                _response.error.body as LoonFS.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new LoonFS.NotFoundError(
                                _response.error.body as LoonFS.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 410:
                            throw new LoonFS.GoneError(
                                _response.error.body as LoonFS.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 500:
                            throw new LoonFS.InternalServerError(
                                _response.error.body as LoonFS.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 501:
                            throw new LoonFS.NotImplementedError(
                                _response.error.body as LoonFS.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 503:
                            throw new LoonFS.ServiceUnavailableError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.LoonFSError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v0/namespace-aliases/{namespace_alias}/grep",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<LoonFS.GrepMatch, LoonFS.GrepResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.matches ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }
}
