// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LoonFS from "../../../index.js";

export declare namespace AdminClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Administrative maintenance APIs
 */
export class AdminClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AdminClient.Options>;

    constructor(options: AdminClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists one page of active checkpoints in checkpoint-id order. Expired checkpoints remain visible until collection releases them. Released checkpoints are omitted. The cursor resumes a live listing and does not create a snapshot.
     *
     * @param {LoonFS.ListCheckpointsRequest} request
     * @param {AdminClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.RequestTimeoutError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.admin.listCheckpoints({
     *         namespace_id: "namespace_id"
     *     })
     */
    public async listCheckpoints(
        request: LoonFS.ListCheckpointsRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): Promise<core.Page<LoonFS.Checkpoint, LoonFS.ListCheckpointsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: LoonFS.ListCheckpointsRequest,
            ): Promise<core.WithRawResponse<LoonFS.ListCheckpointsResponse>> => {
                const { namespace_id: namespaceId, limit, cursor } = request;
                const _queryParams: Record<string, unknown> = {
                    limit,
                    cursor,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        `v0/admin/namespaces/${core.url.encodePathParam(namespaceId)}/checkpoints`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as LoonFS.ListCheckpointsResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new LoonFS.BadRequestError(
                                _response.error.body as LoonFS.ApiError,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new LoonFS.UnauthorizedError(
                                _response.error.body as LoonFS.ApiError,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new LoonFS.NotFoundError(
                                _response.error.body as LoonFS.ApiError,
                                _response.rawResponse,
                            );
                        case 408:
                            throw new LoonFS.RequestTimeoutError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.LoonFSError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v0/admin/namespaces/{namespace_id}/checkpoints",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<LoonFS.Checkpoint, LoonFS.ListCheckpointsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.checkpoints ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }

    /**
     * Creates a named, user-owned checkpoint record pinning the current namespace view. Every call mints a new record under a new id; the name is a label, not a key. The record is a garbage-collection root until it is released, so routine maintenance should flush the WAL instead. This is a maintenance/admin operation, not a file mutation.
     *
     * @param {LoonFS.CreateCheckpointRequest} request
     * @param {AdminClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.RequestTimeoutError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.admin.createCheckpoint({
     *         namespace_id: "namespace_id",
     *         name: "name"
     *     })
     */
    public createCheckpoint(
        request: LoonFS.CreateCheckpointRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.CreateCheckpointResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createCheckpoint(request, requestOptions));
    }

    private async __createCheckpoint(
        request: LoonFS.CreateCheckpointRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.CreateCheckpointResponse>> {
        const { namespace_id: namespaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/admin/namespaces/${core.url.encodePathParam(namespaceId)}/checkpoints`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.CreateCheckpointResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 408:
                    throw new LoonFS.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 503:
                    throw new LoonFS.ServiceUnavailableError(
                        _response.error.body as LoonFS.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v0/admin/namespaces/{namespace_id}/checkpoints",
        );
    }

    /**
     * Releases a user-owned checkpoint pin by id. Idempotent: releasing an already-released or reaped record succeeds. The record is reaped by a later garbage-collection pass; its pinned data becomes collectable only on the pass after that.
     *
     * @param {LoonFS.ReleaseCheckpointRequest} request
     * @param {AdminClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.RequestTimeoutError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.admin.releaseCheckpoint({
     *         namespace_id: "namespace_id",
     *         checkpoint_id: "checkpoint_id"
     *     })
     */
    public releaseCheckpoint(
        request: LoonFS.ReleaseCheckpointRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.ReleaseCheckpointResponse> {
        return core.HttpResponsePromise.fromPromise(this.__releaseCheckpoint(request, requestOptions));
    }

    private async __releaseCheckpoint(
        request: LoonFS.ReleaseCheckpointRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.ReleaseCheckpointResponse>> {
        const { namespace_id: namespaceId, checkpoint_id: checkpointId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/admin/namespaces/${core.url.encodePathParam(namespaceId)}/checkpoints/${core.url.encodePathParam(checkpointId)}/release`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.ReleaseCheckpointResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 408:
                    throw new LoonFS.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v0/admin/namespaces/{namespace_id}/checkpoints/{checkpoint_id}/release",
        );
    }

    /**
     * Returns namespace state together with the current manifest and visible WAL tail.
     *
     * @param {LoonFS.GetNamespaceDiagnosticsRequest} request
     * @param {AdminClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.RequestTimeoutError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.admin.getNamespaceDiagnostics({
     *         namespace_id: "namespace_id"
     *     })
     */
    public getNamespaceDiagnostics(
        request: LoonFS.GetNamespaceDiagnosticsRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.NamespaceDiagnostics> {
        return core.HttpResponsePromise.fromPromise(this.__getNamespaceDiagnostics(request, requestOptions));
    }

    private async __getNamespaceDiagnostics(
        request: LoonFS.GetNamespaceDiagnosticsRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.NamespaceDiagnostics>> {
        const { namespace_id: namespaceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/admin/namespaces/${core.url.encodePathParam(namespaceId)}/diagnostics`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.NamespaceDiagnostics, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 408:
                    throw new LoonFS.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/admin/namespaces/{namespace_id}/diagnostics",
        );
    }

    /**
     * Returns whether the namespace's grep index is `disabled`, `backfilling`, or `active`, including build progress when available. A namespace that has never enabled the index is `disabled`. This operation requires a deployment that maintains grep indexes and does not change the index.
     *
     * @param {LoonFS.GetGrepIndexStatusRequest} request
     * @param {AdminClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.ForbiddenError}
     * @throws {@link LoonFS.RequestTimeoutError}
     * @throws {@link LoonFS.InternalServerError}
     * @throws {@link LoonFS.NotImplementedError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.admin.getGrepIndexStatus({
     *         namespace_id: "namespace_id"
     *     })
     */
    public getGrepIndexStatus(
        request: LoonFS.GetGrepIndexStatusRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.GrepIndexStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getGrepIndexStatus(request, requestOptions));
    }

    private async __getGrepIndexStatus(
        request: LoonFS.GetGrepIndexStatusRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.GrepIndexStatusResponse>> {
        const { namespace_id: namespaceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/admin/namespaces/${core.url.encodePathParam(namespaceId)}/grep/index`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.GrepIndexStatusResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 403:
                    throw new LoonFS.ForbiddenError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 408:
                    throw new LoonFS.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new LoonFS.InternalServerError(
                        _response.error.body as LoonFS.ApiError,
                        _response.rawResponse,
                    );
                case 501:
                    throw new LoonFS.NotImplementedError(
                        _response.error.body as LoonFS.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/admin/namespaces/{namespace_id}/grep/index",
        );
    }

    /**
     * Disables the namespace's grep root and clears its segment references with one durable compare-and-swap; index maintenance stops on its own once a step reads the disabled root. Explicit grep garbage collection later reclaims the segments. Idempotent. Requires this deployment to maintain the grep index.
     *
     * @param {LoonFS.DisableGrepIndexRequest} request
     * @param {AdminClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.ForbiddenError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.RequestTimeoutError}
     * @throws {@link LoonFS.ConflictError}
     * @throws {@link LoonFS.InternalServerError}
     * @throws {@link LoonFS.NotImplementedError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.admin.disableGrepIndex({
     *         namespace_id: "namespace_id"
     *     })
     */
    public disableGrepIndex(
        request: LoonFS.DisableGrepIndexRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.GrepIndexStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__disableGrepIndex(request, requestOptions));
    }

    private async __disableGrepIndex(
        request: LoonFS.DisableGrepIndexRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.GrepIndexStatusResponse>> {
        const { namespace_id: namespaceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/admin/namespaces/${core.url.encodePathParam(namespaceId)}/grep/index/disable`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.GrepIndexStatusResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 403:
                    throw new LoonFS.ForbiddenError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 408:
                    throw new LoonFS.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new LoonFS.ConflictError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 500:
                    throw new LoonFS.InternalServerError(
                        _response.error.body as LoonFS.ApiError,
                        _response.rawResponse,
                    );
                case 501:
                    throw new LoonFS.NotImplementedError(
                        _response.error.body as LoonFS.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v0/admin/namespaces/{namespace_id}/grep/index/disable",
        );
    }

    /**
     * Enables the namespace's grep root and asks this deployment's maintenance runner for the backfill's first step. The response reports the lifecycle and bookkeeping read after the transition: a fresh enable is `backfilling` with the sequence its checkpoint captured, while an already-enabled namespace answers with its current status. Idempotent. Requires this deployment to maintain the grep index.
     *
     * @param {LoonFS.EnableGrepIndexRequest} request
     * @param {AdminClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.ForbiddenError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.RequestTimeoutError}
     * @throws {@link LoonFS.ConflictError}
     * @throws {@link LoonFS.InternalServerError}
     * @throws {@link LoonFS.NotImplementedError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.admin.enableGrepIndex({
     *         namespace_id: "namespace_id"
     *     })
     */
    public enableGrepIndex(
        request: LoonFS.EnableGrepIndexRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.GrepIndexStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__enableGrepIndex(request, requestOptions));
    }

    private async __enableGrepIndex(
        request: LoonFS.EnableGrepIndexRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.GrepIndexStatusResponse>> {
        const { namespace_id: namespaceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/admin/namespaces/${core.url.encodePathParam(namespaceId)}/grep/index/enable`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.GrepIndexStatusResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 403:
                    throw new LoonFS.ForbiddenError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 408:
                    throw new LoonFS.RequestTimeoutError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new LoonFS.ConflictError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 500:
                    throw new LoonFS.InternalServerError(
                        _response.error.body as LoonFS.ApiError,
                        _response.rawResponse,
                    );
                case 501:
                    throw new LoonFS.NotImplementedError(
                        _response.error.body as LoonFS.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v0/admin/namespaces/{namespace_id}/grep/index/enable",
        );
    }

    /**
     * Runs one explicit garbage-collection pass over only this namespace's grep-owned extension keyspace. A tombstoned or absent namespace has aged extension state reaped; no grep garbage collection runs implicitly. `max_objects` bounds the reads the pass spends and returns a `next_cursor` when keys remain; resuming re-reads liveness and the grep root, so a cursor only skips enumeration. Requires this deployment to maintain the grep index.
     *
     * @param {LoonFS.GrepGcRequest} request
     * @param {AdminClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.ForbiddenError}
     * @throws {@link LoonFS.InternalServerError}
     * @throws {@link LoonFS.NotImplementedError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.admin.gcGrepIndex({
     *         namespace_id: "namespace_id"
     *     })
     */
    public gcGrepIndex(
        request: LoonFS.GrepGcRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.GrepGcResponse> {
        return core.HttpResponsePromise.fromPromise(this.__gcGrepIndex(request, requestOptions));
    }

    private async __gcGrepIndex(
        request: LoonFS.GrepGcRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.GrepGcResponse>> {
        const { namespace_id: namespaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/admin/namespaces/${core.url.encodePathParam(namespaceId)}/grep/index/gc`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.GrepGcResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 403:
                    throw new LoonFS.ForbiddenError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 500:
                    throw new LoonFS.InternalServerError(
                        _response.error.body as LoonFS.ApiError,
                        _response.rawResponse,
                    );
                case 501:
                    throw new LoonFS.NotImplementedError(
                        _response.error.body as LoonFS.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v0/admin/namespaces/{namespace_id}/grep/index/gc",
        );
    }

    /**
     * Runs one bounded maintenance step. The body selects the actions by naming them: `metadata` folds the WAL tail once it reaches the threshold and merges one bounded reorganization unit, `advance_retention: true` advances the retention floor, and `gc` runs one bounded garbage-collection pass. Selected actions run in that order, each reports separately, and an absent report means the body did not select that action. A body that selects nothing is rejected. Nothing surrenders replay history or sweeps objects unless the body asked for it. A deleted namespace accepts a step that selects `gc` alone, which is how its reclaimable state is collected; any other selection is refused. Step-driven GC defaults to 1024 candidates and returns its cursor for a later step rather than looping internally. Losing the root race is an outcome, not an error.
     *
     * @param {LoonFS.MaintenanceStepRequest} request
     * @param {AdminClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.admin.maintenanceStep({
     *         namespace_id: "namespace_id"
     *     })
     */
    public maintenanceStep(
        request: LoonFS.MaintenanceStepRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.MaintenanceStepResponse> {
        return core.HttpResponsePromise.fromPromise(this.__maintenanceStep(request, requestOptions));
    }

    private async __maintenanceStep(
        request: LoonFS.MaintenanceStepRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.MaintenanceStepResponse>> {
        const { namespace_id: namespaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/admin/namespaces/${core.url.encodePathParam(namespaceId)}/maintenance/step`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.MaintenanceStepResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v0/admin/namespaces/{namespace_id}/maintenance/step",
        );
    }

    /**
     * Proves the configured object store honours the create-if-absent, compare-and-swap, visibility, listing, and ranged-read semantics LoonFS depends on, and reports what it found check by check. Nothing runs this implicitly: a probe writes and deletes objects, all of them under a scratch prefix that is not a durable object family, and its last check deletes them and proves the prefix empty. A store that fails a check answers 200 with that check reported `failed` — the probe ran, and the answer is that the store is wrong. Optional capabilities a store declares it lacks answer `unsupported`, which is an answer rather than a fault. This route does not decide whether the deployment may serve presigned direct uploads: that trust comes from the endpoint allowlist, because a probe exercises the server's own request path and never a presigned capability handed to a client.
     *
     * @param {LoonFS.StoreProbeRequest} request
     * @param {AdminClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.admin.probeStore({
     *         "key": "value"
     *     })
     */
    public probeStore(
        request: LoonFS.StoreProbeRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.StoreProbeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__probeStore(request, requestOptions));
    }

    private async __probeStore(
        request: LoonFS.StoreProbeRequest,
        requestOptions?: AdminClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.StoreProbeResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v0/admin/store/probe",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.StoreProbeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                case 401:
                    throw new LoonFS.UnauthorizedError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v0/admin/store/probe");
    }
}
