// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as LoonFS from "../../../../../index.js";

export declare namespace DiagnosticsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DiagnosticsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DiagnosticsClient.Options>;

    constructor(options: DiagnosticsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns namespace state together with the current manifest and visible WAL tail.
     *
     * @param {LoonFS.admin.GetNamespaceDiagnosticsRequest} request
     * @param {DiagnosticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.admin.diagnostics.retrieve({
     *         namespace_id: "namespace_id"
     *     })
     */
    public retrieve(
        request: LoonFS.admin.GetNamespaceDiagnosticsRequest,
        requestOptions?: DiagnosticsClient.RequestOptions,
    ): core.HttpResponsePromise<LoonFS.NamespaceDiagnostics> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: LoonFS.admin.GetNamespaceDiagnosticsRequest,
        requestOptions?: DiagnosticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<LoonFS.NamespaceDiagnostics>> {
        const { namespace_id: namespaceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v0/admin/namespaces/${core.url.encodePathParam(namespaceId)}/diagnostics`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LoonFS.NamespaceDiagnostics, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LoonFS.BadRequestError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new LoonFS.UnauthorizedError(
                        _response.error.body as LoonFS.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new LoonFS.NotFoundError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 410:
                    throw new LoonFS.GoneError(_response.error.body as LoonFS.ErrorResponse, _response.rawResponse);
                case 503:
                    throw new LoonFS.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LoonFSError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/admin/namespaces/{namespace_id}/diagnostics",
        );
    }
}
