// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LoonFS from "../../../index.js";

export declare namespace TrashClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TrashClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TrashClient.Options>;

    constructor(options: TrashClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the namespace's recoverable deletions, oldest deletion first. Entries never age out at the retention floor; each carries the inode id and deletion sequence undelete needs, plus the deleted name when the delete recorded one.
     *
     * @param {LoonFS.ListTrashRequest} request
     * @param {TrashClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LoonFS.BadRequestError}
     * @throws {@link LoonFS.UnauthorizedError}
     * @throws {@link LoonFS.NotFoundError}
     * @throws {@link LoonFS.GoneError}
     * @throws {@link LoonFS.ServiceUnavailableError}
     * @throws {@link errors.LoonFSError}
     * @throws {@link errors.LoonFSTimeoutError}
     *
     * @example
     *     await client.trash.list({
     *         namespace_id: "namespace_id"
     *     })
     */
    public async list(
        request: LoonFS.ListTrashRequest,
        requestOptions?: TrashClient.RequestOptions,
    ): Promise<core.Page<LoonFS.TrashEntry, LoonFS.ListTrashResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (request: LoonFS.ListTrashRequest): Promise<core.WithRawResponse<LoonFS.ListTrashResponse>> => {
                const { namespace_id: namespaceId, limit, cursor } = request;
                const _queryParams: Record<string, unknown> = {
                    limit,
                    cursor,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        `v0/namespaces/${core.url.encodePathParam(namespaceId)}/filesystem/trash`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return { data: _response.body as LoonFS.ListTrashResponse, rawResponse: _response.rawResponse };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new LoonFS.BadRequestError(
                                _response.error.body as LoonFS.ApiError,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new LoonFS.UnauthorizedError(
                                _response.error.body as LoonFS.ApiError,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new LoonFS.NotFoundError(
                                _response.error.body as LoonFS.ApiError,
                                _response.rawResponse,
                            );
                        case 410:
                            throw new LoonFS.GoneError(_response.error.body as LoonFS.ApiError, _response.rawResponse);
                        case 503:
                            throw new LoonFS.ServiceUnavailableError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.LoonFSError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v0/namespaces/{namespace_id}/filesystem/trash",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<LoonFS.TrashEntry, LoonFS.ListTrashResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.entries ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }
}
